{% extends 'base.html' %}
{% load templatefunctions %}
{% block head %}
    <link rel="stylesheet" href="/static/card-inscripciones.css?1">
    <link rel="stylesheet" href="/static/acordeonpersonalizado.css">
{% endblock %}
{% block content %}
    <form method="GET">
        <div class="container-fluid">
            <div class="form-row text align-items-center mb-4">
                <div class="col-sm-3">
                    Desde
                    <div class="form-group">
                        <input type="date" class="form-control hidestring" id="desde"
                               name="desde"
                               value="{{ desde }}"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    Hasta
                    <div class="form-group">
                        <input type="date" class="form-control hidestring" id="hasta"
                               name="hasta"
                               value="{{ hasta }}"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    Tipo de inscripcion
                    <div class="form-group">
                        <select name="rolid" id="rolid" class="form-control select2">
                            <option value="">TODOS</option>
                            {% for t in ROLES_FEE_CHOICE %}
                                <option value="{{ t.0 }}"
                                        {% if t.0 == rolid %}selected{% endif %}>{{ t.1|upper }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar Nombres, Apellido, Email"
                               aria-label="Buscar"
                               aria-describedby="button-addon2" name="criterio" value="{{ criterio }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                            {% if url_vars %}
                                <a title="Ver todo" href="{{ request.path }}" class="btn btn-default">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="mb-3">
        <a href="javascript:void(0)"
           onclick="formModal('{{ conference.pk|encrypt }}', 'Add inscription to {{ conference.title }}', 'addinscription')"
           class="btn btn-success"><i
                class="fa fa-circle-plus"></i> Adicionar inscripcion</a>
        <a href="javascript:void(0)" onclick="genCertificadosMasivo({{ conference.pk }})" class="btn btn-primary"><i
                class="fa fa-certificate"></i> Generar certificados masivo</a>
        <a href="javascript:void(0);" class="btn btn-warning descargarcertificados"><i
                class="fa fa-download"></i> Descargar Certificados</a>
    </div>
    <div class="row">
        {% for l in listado %}
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <div class="card-container mycard-container">
                    <div class="mycard card border-0">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <a href="{{ l.persona.get_foto_gris }}" data-fancybox="image"
                                       data-width="2048"
                                       data-height="1365"
                                       title="{{ l.persona.username }}">
                                        <img id="presentaimg2" src="{{ l.persona.get_foto_gris }}"
                                             style="border-radius: 2.375rem;" width="55px" height="55px">
                                    </a>
                                    <div class="info-top ml-2">
                                        <h6 class="text-muted" style="font-size: 0.9em;">
                                            {{ l.persona.datos }}<br>
                                            Usuario: {{ l.persona.username }} <br>
                                            {% if not l.persona.get_perfil_per.status %}
                                                <span class="text-danger"> <i class="fas fa-times-circle"></i> PFL DESACT.</span>
                                                <br>
                                            {% endif %}
                                            {% if not l.persona.is_active %}
                                                <span class="text-danger"> <i class="fas fa-user-slash"></i> USUARIO DESACT.</span>
                                            {% else %}
                                                <span class="text-success"> <i class="fas fa-user-check"></i> USUARIO ACTIVO.</span>
                                            {% endif %}
                                        </h6>
                                    </div>
                                </div>
                                <div class="acciones mr-3">
                                    <div class="with-btn-group text-center" nowrap>
                                        <div class="btn-group dropleft">
                                            <button type="button"
                                                    class="btn btn-white rounded-circle btn-sm border-0 dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)"
                                                   onclick="formModal('{{ l.pk|encrypt }}', 'Modify inscription {{ l.persona.datos }}', 'changeinscription')"
                                                   class="dropdown-item"><i
                                                        class="fa fa-edit"></i> Editar inscripcion</a>
                                                <a href="javascript:void(0)"
                                                   onclick="eliminarajax('{{ l.pk|encrypt }}', 'Inscripcion de {{ l.persona.datos }}', 'deleteinscription')"
                                                   class="dropdown-item"><i class="fa fa-trash"></i>
                                                    Eliminar Inscripcion</a>
                                                {% if l.asistio %}
                                                    {% if l.gen_certificado %}
                                                        <a href="javascript:void(0)"
                                                           onclick="eliminarajax('{{ l.pk|encrypt }}', 'Certificado de {{ l.persona.datos }}', 'deletecertificado')"
                                                           class="dropdown-item"><i class="fa fa-trash"></i>
                                                            Eliminar certificado</a>
                                                    {% else %}
                                                        <a class="certificado_view_pdf dropdown-item"
                                                           href="javascript:;" idi="{{ l.id }}"><span
                                                                class="fa fa-file-pdf mr-2"></span>&nbsp;Vista
                                                            Previa Certificado</a>
                                                        <a class="certificado_view_save_pdf dropdown-item"
                                                           href="javascript:;"
                                                           idi="{{ l.id }}"><span
                                                                class="fa fa-print"></span> Generar Certificado</a>
                                                    {% endif %}
                                                {% endif %}
                                                <div class="dropdown-item dropdown-sublevel">
                                                    <a class="dropdown-toggle dropdown-sublevel-button w-100 d-block">
                                                        <i class="fas fa-wrench"></i> Gestión de Usuario
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        {% if l.persona.is_active %}
                                                            <a class="dropdown-item"
                                                               onclick="eliminarusuario({{ l.persona.pk }}, '{{ l.persona.datos }}', 'deleteuser')"
                                                               href="javascript:void(0);">
                                                                <i class="fas fa-trash"></i> Desactivar Usuario
                                                            </a>
                                                        {% else %}
                                                            <a class="dropdown-item" title="Activar {{ modulo }}"
                                                               onclick="activarusu({{ l.persona.pk }}, '{{ l.persona.datos }}', 'activate')"
                                                               href="javascript:void(0);">
                                                                <i class="fas fa-check-circle"></i> Activar Usuario
                                                            </a>
                                                        {% endif %}
                                                        {% if l.persona.get_perfil_per %}
                                                            <a class="dropdown-item" title="Eliminar {{ modulo }}"
                                                               onclick="eliminarajax({{ l.pk }}, 'el perfil usuario de {{ l.persona }}', 'deleteperfilusuario')"
                                                               href="javascript:void(0);">
                                                                <i class="fas fa-trash"></i> Desactivar Perfil Usuario
                                                            </a>
                                                        {% else %}
                                                            <a class="dropdown-item"
                                                               onclick="crearperfilestudiante({{ l.pk }}, '{{ l.persona.datos }}', 'crearperfilusuario')"
                                                               href="javascript:void(0);">
                                                                <i class="fas fa-user-plus"></i> Activar Perfil Usuario
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <a class="dropdown-item"
                                                   title="Ver como {{ l.persona.get_full_name }}"
                                                   href="/seguridad/cambiar-sesion/?pk={{ l.persona.pk }}&path=/">
                                                    <i class="fas fa-sign-in-alt"></i> Ver
                                                    como {{ l.persona.get_full_name }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <b>Tipo:</b> {{ l.get_role_display }} {% if l.cuota.special_price %}(Special Price for
                                Sponsor Universities (UNEMI, VIU, or UCLM)){% endif %} <br>
                                <b>Institucion: </b> {{ l.persona.institucion|default:'' }}<br>
                                <b>Pais: </b> {{ l.persona.pais.nombre }}<br>
                                {% if l.persona.email %}
                                    <a href="mailto:{{ l.persona.email }}"><i
                                            class="fa fa-envelope"></i> {{ l.persona.email }}</a><br>
                                {% endif %}
                                <span class="text-primary">F.Inscripción : {{ l.fecha|date:'d/m/Y' }}</span><br>
                                <span class="">¿Asistió al evento? : <i class="{{ l.get_asistio }}"></i></span><br>
                                {% if l.gen_certificado %}
                                    <a class="btn btn-default btn-mini mb-1 mt-1"
                                       href="/media/{{ l.certificado }}"
                                       target="_blank">
                                        <span class="fa fa-file-pdf text-danger"></span> Certificado
                                    </a><br>
                                {% else %}
                                    <span class="text-muted"><i class="fa fa-info-circle"></i> Sin certificado generado</span>
                                {% endif %}

                                <div id="modulos_{{ l.pk }}" class="accordion accordion-flush"
                                     role="tablist"
                                     aria-multiselectable="true">
                                    <div class="accordion-item">
                                        <div class="accordion-header" role="tab" id="heading_{{ l.pk }}">
                                            <h5 class="mb-0">
                                                <button class="accordion-button "
                                                        data-toggle="collapse" style="font-weight: 300"
                                                        data-parent="#modulos_{{ l.pk }}"
                                                        href="#collapseThree_{{ l.pk }}"
                                                        aria-expanded="false"
                                                        aria-controls="collapseThree_{{ l.pk }}">
                                                    <h6 class="mb-0 texto-blue">
                                                        <i class="fa fa-folder dropdown-item-icon pr-2"
                                                           aria-hidden="true"></i>
                                                        More details
                                                    </h6>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree_{{ l.pk }}"
                                             class="collapse"
                                             role="tabpanel" aria-labelledby="heading_{{ l.pk }}">
                                            <div style="padding: 5px" class="text-left">
                                                {% if l.cuota.role == 1 %}
                                                    {% for paper in l.get_papers %}
                                                        <b><i class="fa fa-book"></i> <b>ID: </b> {{ paper.idpaper }}
                                                        </b>  - {{ paper.title }}
                                                        <div class="ml-3">
                                                            <i class="fa fa-file-text"></i>
                                                            <b>Sheets: </b> {{ paper.sheets }}
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {% if l.cuota.role == 3 or l.cuota.special_price %}
                                                        {% if l.cuota.special_price %}
                                                            <b>¿Is Student?: </b> <i class="{{ l.get_student }}"></i>
                                                            <br>
                                                        {% endif %}
                                                        <b>Evidence: </b>
                                                        <a href="/media/{{ l.archivo_evidencia }}" target="_blank"
                                                           class="btn-link"><i class="fa fa-file-pdf"></i> See evidence</a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-center">
                    <h2><b>Sin Registros</b></h2>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include "paginacion.html" %}
            <div class="container-fluid">
                <hr>
                <div class="form-row mb-3 text-right">
                    <label class="badge badge-primary" style="font-size: 13px">Cant. {{ list_count }}</label>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalChangePassword">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form autocomplete="off" id="frmEliminar" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header">
                        <i class="fa fa-key"></i>&nbsp;
                        <h4 class="modal-title"></h4>
                        <button class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="pk" id="pk">
                        <input type="hidden" name="action" id="action">
                        <label>Nueva Clave:</label>
                        <input type="password" name="password" class="form-control" data-toggle="password"
                               data-placement="after" data-eye-class="fas" data-eye-open-class="fa-eye"
                               data-eye-close-class="fa-eye-slash"><br>
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle"></i> Recuerde que la contraseña registrada servirá como clave
                            actual para la plataforma.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Cambiar Clave</button>
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i
                                class="fa fa-window-close"></i> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalActivar">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmActivar" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">¿Seguro desea activar este registro?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info m-b-0">
                            <h5><i class="fa fa-info-circle"></i> Atención!</h5>
                            <p>Estas a punto de activar este registro '<b id="elimNombre"></b>'</p>
                            <input type="hidden" name="id" id="id">
                            <input type="hidden" name="action" id="action">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Activar</button>
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i
                                class="fa fa-window-close"></i> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCrearAdministrativo">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmAdmin" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">¿Seguro desea crear perfil administrativo para este usuario?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-primary m-b-0">
                            <h5><i class="fa fa-info-circle"></i> Atención!</h5>
                            <p>Estas a punto de crear perfil administrativo para '<b id="adminNombre"></b>'</p>
                            <input type="hidden" name="id" id="id">
                            <input type="hidden" name="action" id="action">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Crear</button>
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i
                                class="fa fa-window-close"></i> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDetalle">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" action="{{ ruta }}"
                      class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title"><b id="modalNombre"></b></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body detalleProd">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalExp">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b id="modalExpTitulo"></b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body detalleExp">
                </div>
            </div>
        </div>
    </div>

    <div id="itemspanel5" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>
                        <i class="fa fa-search" aria-hidden="true"></i> Auditorias de <a
                            id="ingresobono4"></a></b>
                    </h5>
                    <button type="button" class="close"
                            data-dismiss="modal">&times;
                    </button>

                </div>

                <div class="modal-body panelbody4" style="padding-bottom: 50px">
                </div>

                <div class="modal-footer">
                    <table class="pull-right">
                        <tr>
                            <td><a data-dismiss="modal" href="javascript:;" class="btn btn-cerrar4 btn-danger"><i
                                    class="fa fa-window-close"></i> Cerrar</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modalCarga" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel"
         aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="mb-4"><i class="fa fa-certificate"></i> Generando certificados
                        para {{ conference.title }}</h3>
                    <div class="progress">
                        <div id="loading-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar" style="width: 0%;"></div>
                    </div>
                    <b id="loading-message">Cargando...</b><br><br>
                    <br>
                    <p class="text-warning"><i class="fa fa-info-circle"></i> ¡Estamos trabajando en tu solicitud! No
                        cierres esta ventana por favor.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCrearEstudiante">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmestudiante" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="id_dict_url_vars" name="dict_url_vars" value="">
                    <div class="modal-header">
                        <h4 class="modal-title">¿Seguro desea crear/activar perfil usuario para este usuario?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-primary m-b-0">
                            <h5><i class="fa fa-info-circle"></i> Atención!</h5>
                            <p>Estas a punto de crear/activar perfil usuario para '<b id="estudianteNombre"></b>'</p>
                            <input type="hidden" name="id" id="id">
                            <input type="hidden" name="action" id="action">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Crear</button>
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal"><i
                                class="fa fa-window-close"></i> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscript %}
    <script src="/static/assets/plugins/bootstrap-show-password/dist/bootstrap-show-password.js?v=1"></script>
    <script src="/static/js/forms.js?version=11"></script>
    <script>
        function formModal(id, text, action,) {
            pantallaespera()
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': action,
                    'id': id,
                },
                success: function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.result === true) {
                        $('#modalNombre').html(text);
                        $('.detalleProd').html(data.data);
                        $('#modalDetalle').modal({backdrop: 'static'}).modal('show');
                    } else {
                        mensajeWarning(data.message);
                    }
                },
                error: function () {
                    setTimeout($.unblockUI, 1);
                    mensajeWarning("Error de conexión.");
                },
                dataType: "json"
            });
        }

        function eliminarusuario(pk, nombre, accion) {
            Swal.fire({
                title: `Deseas desactivar el usuario ${nombre}`,
                text: "Esta acción es irreversible",
                type: 'warning',
                showCancelButton: true,
                allowOutsideClick: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, deseo hacerlo!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    pantallaespera();
                    $.post("{{ request.path }}", {
                        'action': accion,
                        'id': pk
                    }, function (data) {
                        $.unblockUI();
                        if (data.error === false) {
                            location.reload();
                        } else {
                            alertaWarning(data.mensaje)
                        }
                    }, "json");
                } else {
                }
            })
        }

        function activarusu(pk, nombre, accion) {
            $('#frmActivar #id').val(pk);
            $('#frmActivar #elimNombre').html(nombre);
            $('#frmActivar #action').val(accion);
            $('#modalActivar').modal({backdrop: 'static'}).modal('show');
        }


        function crearperfilestudiante(pk, nombre, accion) {
            $('#frmestudiante #id').val(pk);
            $('#frmestudiante #estudianteNombre').html(nombre);
            $('#frmestudiante #action').val(accion);
            $('#modalCrearEstudiante').modal({backdrop: 'static'}).modal('show');
        }

        $(function () {
            $(".certificado_view_pdf").click(function () {
                var id = $(this).attr('idi');
                openwindow('POST', '{{ request.path }}', {
                    action: 'preview_certificado', 'id': id
                }, '_blank');
            });

            $(".certificado_view_save_pdf").click(function () {
                var id = $(this).attr('idi');
                openwindow('POST', '{{ request.path }}', {
                    action: 'gen_certificado', 'pk': id
                }, '_blank');
            });

            $(".descargarcertificados").click(function () {
                Swal.fire({
                    html: `¿Está a punto de descargar {{ totgenerados }} certificados?`,
                    text: "Esta acción es irreversible",
                    type: 'warning',
                    showCancelButton: true,
                    allowOutsideClick: false,
                    confirmButtonText: 'Sí, deseo hacerlo',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        openwindow('GET', '{{ request.path }}', {
                            action: 'download_certificados_zip',
                            id: '{{ conference.id }}',
                        }, '_blank');
                    }
                })
            });
        })

        const CONFIG = {
            baseUrl: '{{ request.path }}',
            csrf: '{{ csrf_token }}'
        };


        function showLoadingModal(message, progress = 0) {
            $('#loading-message').text(message);
            $('#loading-progress-bar').css('width', `${progress}%`);
            $('#loadingModal').modal('show');
        }


        function updateLoadingModal(message, progress) {
            $('#loading-message').text(message);
            $('#loading-progress-bar').css('width', `${progress}%`);
        }

        function hideLoadingModal() {
            $('#loadingModal').modal('hide');
        }

        function showMessage(type, message) {
            const messageFunction = type === 'success' ? mensajeSuccess : mensajeDanger;
            messageFunction(message);
        }


        async function fetchInscritos(pk) {
            try {
                const response = await $.ajax({
                    url: CONFIG.baseUrl,
                    method: 'GET',
                    data: {action: 'fecth_inscritos', pk}
                });

                if (response.error) {
                    throw response.message;
                }
                return response.data;
            } catch (error) {
                if (error.responseJSON) {
                    throw error.responseJSON.message || 'Error en la respuesta del servidor';
                }
                if (typeof error === 'string') {
                    throw error;
                }
                throw `Error al generar certificados: ${error.message || error}`;
            }
        }


        async function processInscrito(inscritoid) {
            try {
                const response = await $.ajax({
                    url: CONFIG.baseUrl,
                    method: 'POST',
                    data: {
                        action: 'gen_certificado',
                        type: '2',
                        csrfmiddlewaretoken: CONFIG.csrf,
                        pk: inscritoid
                    }
                });

                if (response.error) {
                    throw new Error(response.message);
                }
                return response;
            } catch (error) {
                if (error.responseJSON) {
                    throw error.responseJSON.message;
                }
                throw error.message || 'Error en el servidor';
            }
        }

        async function processBatch(queryset) {
            const total = queryset.length;

            for (let i = 0; i < total; i++) {
                const inscrito = queryset[i];
                const nombreCompleto = `${inscrito.persona__first_name} ${inscrito.persona__last_name}`;

                updateLoadingModal(
                    `Generando certificado ${i + 1}/${total} - ${nombreCompleto}...`,
                    Math.floor((i / total) * 100)
                );

                try {
                    await processInscrito(inscrito.id);
                } catch (error) {
                    throw `Error al generar certificado ${nombreCompleto}: ${error}`;
                }
            }
        }

        async function iniciarProcess(pk) {
            showLoadingModal('Cargando Inscrito...', 0);

            try {
                const queryset = await fetchInscritos(pk);
                await processBatch(queryset);

                updateLoadingModal('Proceso completado.', 100);
                setTimeout(() => {
                    hideLoadingModal();
                    showMessage('success', 'Proceso finalizado');
                }, 1000);
            } catch (error) {
                showMessage('danger', error);
                hideLoadingModal();
            } finally {
                setTimeout(() => {
                    hideLoadingModal();
                }, 1000);
            }
        }

        function genCertificadosMasivo(pk) {
            Swal.fire({
                title: '¿Estás seguro de que deseas generar los certificados para la conferencia {{ conference.title }}?',
                text: 'Esta acción es irreversible',
                type: 'warning',
                showCancelButton: true,
                allowOutsideClick: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, deseo hacerlo!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    iniciarProcess(pk);
                }
            });
        }
    </script>
{% endblock %}