{% extends 'public/perfil/baseperfil.html' %}
{% load templatefunctions %}

{% block contentperfil %}

    <div class="col-lg-12">
        <div class="content-card">
            <div class="p-4">
                <div class="content-header">
                    <i class="fa-solid fa-file-invoice"></i>
                    <h2 class="h4">{{ title }}</h2>
                </div>

                <div class="table-responsive">
                    <table class="table table-modern">
                        <thead>
                        <tr>
                            <th class="text-center">Registration Date</th>
                            <th class="text-center">Conference</th>
                            <th class="text-center">Fee Type</th>
                            <th class="text-center">Total Amount</th>
                            <th class="text-center">Status</th>
                            <th class="text-center"><i class="fa fa-cogs"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in listado %}
                            <tr>
                                <td class="text-center">{{ l.fecha_registro|date:'d/m/Y' }}</td>
                                <td class="text-center">{{ l.cuota.conference.title }}</td>
                                <td class="text-center">{{ l.cuota.get_role_display }}
                                    {% if l.cuota.special_price %}<br>
                                        <b class="text-muted">Special Price Applied</b>
                                    {% endif %}
                                </td>
                                <td class="text-center">${{ l.get_total_by_state|floatformat:2 }}</td>
                                <td class="text-center">
                                    <span class="badge badge-{{ l.estadoSTR }}">{{ l.get_estado_display }}</span>
                                </td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="dropdown-button" onclick="toggleDropdown(event, this)">
                                            ⋮
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="#"><i class="fa fa-history"></i> History</a>
                                            <a href="#"><i class="fa fa-eye"></i> Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'public/paginacion.html' %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
    </script>
{% endblock %}