{% extends 'public/perfil/baseperfil.html' %}
{% load templatefunctions %}

{% block contentperfil %}

    <div class="col-lg-12">
        <div class="content-card mt-4">
            <div class="content-header p-4">
                <h2 class="h4"><i class="fa fa-shopping-bag me-2"></i>{{ title }}</h2>
            </div>
        </div>
        <div class="content-card">
            <div class="p-4">
                <div class="table-responsive">
                    <table class="table table-modern">
                        <thead>
                        <tr>
                            <th class="text-center">Registration Date</th>
                            <th class="text-center">Conference</th>
                            <th class="text-center">Fee Type</th>
                            <th class="text-center">Total Amount</th>
                            <th class="text-center">Invoice</th>
                            <th class="text-center">Status</th>
                            <th class="text-center"><i class="fa fa-cogs"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in listado %}
                            <tr>
                                <td class="text-center">{{ l.fecha_registro|date:'d/m/Y' }}</td>
                                <td class="text-center">{{ l.cuota.conference.title }}</td>
                                <td class="text-center">{{ l.cuota.get_role_display }}
                                    {% if l.cuota.special_price %}<br>
                                        <b class="text-muted">Special Price Applied</b>
                                    {% endif %}
                                </td>
                                <td class="text-center">${{ l.get_total_by_state|floatformat:2 }}</td>
                                <td class="text-center">
                                    {% if l.factura_cargada %}
                                        <a class="btn btn-default btn-sm" data-fancybox="iframe" data-type="iframe"
                                           title="View Invoice" target="_blank"
                                           data-toggle="tooltip"
                                           href="/media/{{ l.factura }}"
                                           data-width="2048" data-height="1365"
                                        ><i
                                                class="fa fa-file-pdf text-danger"></i> Invoice</a>
                                    {% else %}
                                        <span class="badge badge-warning">Not available</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if l.estado == 'COMPROBANTE_PAYPAL' %}
                                        <a href="javascript:void(0)"
                                           onclick="cargarComprobantePaypal('{{ l.pk|encrypt }}')"
                                           class="btn btn-success btn-sm"><i class="fa fa-upload"></i> Upload
                                            Receipt</a>
                                        <br>
                                        <a href="{{ l.enlace_pago }}" class="btn-link text-primary" target="_blank"><i
                                                class="fa-brands fa-paypal me-2"></i>Paypal link</a>
                                    {% elif l.estado == 'FACTURA_EMITIDA' %}
                                        <a href="/complete_purchase/?order={{ l.pk|encrypt }}"
                                           class="btn btn-success btn-sm"><i class="fa fa-cloud-upload"></i> Upload
                                            Receipt</a>
                                    {% elif l.estado == 'PENDIENTE_PAGO' %}
                                        <a href="/complete_purchase/?order={{ l.pk|encrypt }}"
                                           class="btn btn-success btn-sm"><i class="fa fa-money-bill"></i> Proceed to
                                            payment</a>
                                    {% else %}
                                        <span class="badge badge-{{ l.estadoSTR }}">{{ l.get_estado_display }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="dropdown-button" onclick="toggleDropdown(event, this)">
                                            ⋮
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="javascript:void(0)"
                                               onclick="formModal('{{ l.pk|encrypt }}', 'Order History', 'historial_pedido')"><i
                                                    class="fa fa-history"></i> History</a>
                                            <a href="javascript:void(0)"
                                               onclick="formModal('{{ l.pk|encrypt }}', 'Order Details', 'detailsRequest')"><i
                                                    class="fa fa-eye"></i> Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'public/paginacion.html' %}
                </div>

            </div>
        </div>
    </div>



    <div class="modal fade" id="modalPagoTransferencia" tabindex="-1" aria-labelledby="modalPagoTransferenciaNombre"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" action="{{ ruta }}" class="needs-validation"
                      id="frmPago">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fa fa-money-bill me-2"></i>
                            <b id="modalPagoTransferenciaNombre"></b>
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body detalleModalTransferencia">
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        function cargarComprobantePaypal(id) {
            pantallaespera();
            $.ajax({
                type: "GET",
                url: `{{ request.path }}`,
                data: {
                    'action': 'cargar_comprobante_paypal',
                    'id': id,
                },
                success: function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.result === true) {
                        $('#modalPagoTransferenciaNombre').html('Upload your Paypal receipt to complete your order.');
                        $('.detalleModalTransferencia').html(data.data);
                        $('#modalPagoTransferencia').modal({backdrop: 'static'}).modal('show');
                    } else {
                        mensajeWarning(data.message);
                    }
                },
                error: function () {
                    setTimeout($.unblockUI, 1);
                    mensajeWarning("Error de conexión.");
                },
                dataType: "json"
            });
        }
    </script>
{% endblock %}