{% extends 'public/base.html' %}
{% load templatefunctions %}

{% block head %}
    <link rel="stylesheet" href="/static/landing.css">
    <style>
        .img-landing {
            width: 600px;
            height: 400px;
        }

        .subtitle_custom {
            margin-bottom: 0 !important;
            margin-top: 20px;
        }

        .text-justify {
            text-align: justify;
        }
    </style>

{% endblock %}

{% block content %}

    <section id="section-importante" aria-label="section-services-tab"
             data-bgimage="url(static/images/landing/2.png) fixed center no-repeat">
        <div class="wm wm-border wow fadeInDown ">keynotes</div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center wow fadeInUp" id="importantdates">
                    <h1>Keynotes speakers</h1>
                    <div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>
                </div>

                <div class="col-md-12 wow fadeInUp mt-5">
                    <div class="col-md-6 offset-md-3 text-center wow fadeInUp" id="guidelines">
                        <h2>Ana María Osorio Flórez</h2>
                        <div class="separator"><span><i class="fa fa-square"></i></span></div>
                        <div class="spacer-single"></div>
                    </div>
                    <div class="w-100 text-center">
                        <img class="" src="/static/images/keynotes/Ana1.JPG" alt=""
                             style="width: 296px; height: 296px; object-fit: contain">
                    </div>
                    <div class="de_tab_content text-left mt-5">
                        <div id="tab1" class="tab_single_content" style="max-width: 900px; margin: 0 auto;">
                            <div class="row">
                                <div class="col-md-12 text-justify">

                                    <h4>Biography</h4>
                                    <p>Environmental Engineer, Environmental Law Specialist, and Master in Law with a
                                        focus on Mining, Petroleum, and Energy Regulation. With 12 years of experience
                                        in corporate sustainability, environmental regulation, and strategic alliance
                                        management, he has led initiatives that integrate key stakeholders from the
                                        public, private, and academic sectors, promoting responsible and sustainable
                                        decision-making.</p>
                                    <p>Approach is based on strategic planning, relationship management, and
                                        goal-oriented execution, driving processes that strengthen sustainability within
                                        organizations. As a determined, empathetic, and participatory leader, he fosters
                                        collaboration to generate long-term positive impacts.</p>
                                    <h4>Experience</h4>
                                    <p class="subtitle_custom"><b>DGROUPE S.A.S</b></p>
                                    <p><b>Executive Director – Conexión</b> | <span class="text-muted">September 2024 – Present</span>
                                    </p>
                                    <p>Leads the development and optimization of strategic alliances for Conexión
                                        Summit, fostering connections among investors, startups, and key players in the
                                        entrepreneurship and entertainment ecosystem.</p>

                                    <p class="subtitle_custom"><b>Universidad Pontificia Bolivariana</b></p>
                                    <p><b>National Director of Sustainability</b> | <span class="text-muted">January 2018 – August 2024</span>
                                    </p>
                                    <p>Designed and implemented strategies to ensure sustainability goals, achieving
                                        carbon-neutral and zero-waste certifications from ICONTEC. He positioned the
                                        university as the first carbon-neutral certified institution in Latin
                                        America.</p>

                                    <p class="subtitle_custom"><b>Área Metropolitana del Valle de Aburrá – Universidad
                                        Pontificia Bolivariana</b></p>
                                    <p><b>Environmental Leader</b> | <span
                                            class="text-muted">April 2016 – December 2017</span></p>
                                    <p>Supported the update of the Hazardous Waste Management Plan (Plan RESPEL) and
                                        conducted technological monitoring of waste management trends.</p>

                                    <p class="subtitle_custom"><b>Ambiental Mente S.A.S</b></p>
                                    <p><b>Environmental Management Coordinator</b> | <span class="text-muted">October 2013 – April 2016</span>
                                    </p>
                                    <p>Provided environmental consulting to companies, including permit management,
                                        sustainable investment guidance, and environmental impact assessments.</p>
                                    <p>Committed to developing innovative and sustainable solutions, he continues to
                                        contribute to the responsible growth of organizations and their communities.</p>

                                    <h4>Title: Industry 5.0: Accelerating the SDGs through Technological Innovation and
                                        Collaboration</h4>
                                    <p>Industry 5.0 is emerging as a transformative force with the potential to
                                        accelerate
                                        the achievement of the Sustainable Development Goals (SDGs). This new
                                        industrial era, which goes beyond the automation and connectivity of Industry
                                        4.0,
                                        focuses on creating a sustainable, resilient, and human-centered future.
                                        In this presentation, we will explore how Industry 5.0 can contribute to the
                                        SDGs
                                        through technological innovation and collaboration. We will analyze how mass
                                        personalization, human-robot collaboration, and artificial intelligence can
                                        optimize
                                        the use of resources, reduce carbon emissions, and promote social inclusion.
                                        We will address concrete examples of how Industry 5.0 can drive sustainable
                                        economic growth (SDG 8), promote industrial innovation (SDG 9), reduce
                                        inequalities (SDG 10), and combat climate change (SDG 13), among others.
                                        Furthermore, we will discuss the challenges and opportunities facing the
                                        implementation of Industry 5.0 in the context of the SDGs, highlighting the
                                        importance of international cooperation, investment in education, and the
                                        development of ethical frameworks for technology.
                                        Through case studies and trend analysis, we will demonstrate how Industry 5.0
                                        can
                                        be a powerful tool for building a more sustainable, equitable, and prosperous
                                        future
                                        for all, in line with the global SDG agenda.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInUp mt-5">
                    <div class="col-md-6 offset-md-3 text-center wow fadeInUp" id="guidelines">
                        <h2>Yudith Cardinale</h2>
                        <div class="separator"><span><i class="fa fa-square"></i></span></div>
                        <div class="spacer-single"></div>
                    </div>
                    <div class="w-100 text-center">
                        <img class="" src="/static/images/keynotes/FotoYC.jpg" alt=""
                             style="width: 296px; height: 296px; object-fit: contain">
                    </div>
                    <div class="de_tab_content text-left mt-5">
                        <div id="tab1" class="tab_single_content" style="max-width: 900px; margin: 0 auto;">
                            <div class="row">
                                <div class="col-md-12 text-justify">

                                    <h4>Biography</h4>
                                    <p>Yudith Cardinale is a Full Professor and Researcher at Universidad Internacional
                                        de Valencia, Spain since 2018, the Principal Researcher of the Research Group in
                                        Data Science (GRID), Director of Center of studies for Data Science and
                                        Artificial Intelligence (Centro ESenCIA), and Coordinator of the Doctoral
                                        program in Data Science. Currently, she is an associate researcher at
                                        Universidad Católica San Pablo, Arequipa, Perú. <br>She graduated with honors in
                                        Computer Engineering in 1990 at Universidad Centro-Occidental Lisandro Alvarado,
                                        Venezuela. <br>She received her MSc Degree and PhD in Computer Science from
                                        Universidad Simón Bplívae, Venezuela, in 1993 and 2004, respectively. <br> Her
                                        research interests include parallel processing, distributed systems, operating
                                        systems, big data and data science, high performance on grid and cloud
                                        platforms, collaborative frameworks, and web services, including semantic web.
                                        <br>
                                        She has written a range of scientific articles published in international
                                        journals, books, and conferences, and has participated as member of program
                                        committees of several international conferences and journals. She has been the
                                        coordinator of a variety of international research projects.</p>
                                    <h4>Title: MapReduce and Spark: Examples of Big Data Applications</h4>
                                    <p><b>Abstract:</b> The production of data by users on the Web (blogs, social networks,
                                        etc.) and the sharing of ubiquitous information (sensors and mobile devices,
                                        cameras, microphones, photographs, etc.), drastically increases the amount of
                                        data that can be processed and the perspectives of interpretation. <br>These data
                                        are presented in formats that are difficult to process with traditional DBMS;
                                        they are not organised in tables and the structure can vary (from structured to
                                        unstructured); they are generated in real time in continuous flows; they come
                                        from different sources (mobile devices, sensors, PCs, Laptops, objects, social
                                        networks, ...) in a disorderly and unpredictable way. Thus, new paradigms and
                                        techniques are needed to capture, store, search, share, analyze, and visualize,
                                        such as huge amounts of data. MapReduce paradigm is the one that faces all these
                                        challenges to provide parallel storage and processing in batch mode. <br>In this
                                        talk, we will revise, through several study cases, the main concepts related to
                                        the big data boom and two of the most popular big data tools: Hadoop MapReduce
                                        and Apache Spark, that provide batch and streaming processing alternatives.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-contacts" class="text-light" data-bgcolor="#414657">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                    <h1>Contact Us</h1>
                    <div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>
                </div>

                <div class="col-md-8 offset-md-2 wow fadeInUp">
                    <form name="contactForm" id='contact_form' method="post">
                        {% csrf_token %}
                        <input type="hidden" value="send_mail" name="action" id="action">
                        <div class="row">
                            <div class="col-md-6">
                                <div id='name_error' class='error'>Please enter your name.</div>
                                <div>
                                    <input required type='text' name='name' id='name' class="form-control"
                                           placeholder="Your Name">
                                </div>

                                <div id='email_error' class='error'>Please enter your valid E-mail ID.</div>
                                <div>
                                    <input required type='email' name='email' id='email' class="form-control"
                                           placeholder="Your Email">
                                </div>

                                <div id='phone_error' class='error'>Please enter your phone number.</div>
                                <div>
                                    <input required type='text' name='phone' id='phone' class="form-control"
                                           placeholder="Your Phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id='message_error' class='error'>Please enter your message.</div>
                                <div>
                                    <textarea required name='message' id='message' class="form-control"
                                              placeholder="Additional Message"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <p>
                                    <button type='submit' class="btn btn-primary">Send Email</button>
                                </p>
                                <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>

    </section>
{% endblock %}

{% block jscript %}
    <script src="/static/js/forms.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#defaultCountdown').countdown({until: new Date(2025, 2, 19, 8)}); // year, month, date, hour
            });

            $('#accordionTopics').on('show.bs.collapse', function (e) {
                $(e.target).prev('.card-header').find('.rotate-icon').removeClass('fa-chevron-down').addClass('fa-chevron-up');
            });

            $('#accordionTopics').on('hide.bs.collapse', function (e) {
                $(e.target).prev('.card-header').find('.rotate-icon').removeClass('fa-chevron-up').addClass('fa-chevron-down');
            });

            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 40,
                nav: false,
                dots: false,
                autoplay: true,
                autoplayTimeout: 3000,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4 // Muestra 4 elementos a la vez
                    }
                }
            });


        })

        document.addEventListener('DOMContentLoaded', () => {
            if (window.location.hash === '#section-register') {
                setTimeout(() => {
                    document.getElementById('section-register').scrollIntoView({behavior: 'smooth'});
                }, 1000);
            }
        });
    </script>
{% endblock %}



