{% extends 'public/base.html' %}

{% block head %}
    <style>
        @media only screen and (max-width: 600px) {
            .center-mobile {
                text-align: center;
            }
        }

        .size-50 {
            font-size: 50px;
        }

        .grey-hover{
           max-width: 100%;
        }

    </style>
{% endblock %}

{% block content %}

    <section id="section-hero" class="fullwidthbanner-container" aria-label="section-slider" data-bgcolor="#101010">
        <div id="slider-revolution">
            <ul>
                <li data-transition="random-premium" data-slotamount="10" data-masterspeed="200" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img alt="" class="rev-slidebg" data-bgparallax="0" src="/static/exhibiz/images/slider/wide1.jpg">
                </li>

                <li data-transition="random-premium" data-slotamount="10" data-masterspeed="200" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img alt="" class="rev-slidebg" data-bgparallax="0" src="/static/exhibiz/images/slider/wide2.jpg">
                </li>

            </ul>

            <div style="" class="tp-static-layers">
                <div
                        class="text-center tp-caption size-28 font-weight-bold text-white tp-static-layer"
                        data-x="['center','center','center','center']"
                        data-hoffset="['0']"
                        data-y="['top','top','top','top']"
                        data-voffset="['185']"
                        data-lineheight="['90','90','90','90']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-startslide="0"
                        data-endslide="3"
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                >
                    <span class="id-color-2">March 19, 2025</span>
                </div>

                <div
                        class="text-center tp-caption size-50 font-weight-bold text-white tp-static-layer mb-3 mt-3"
                        data-x="['center','center','center','center']"
                        data-hoffset="['0']"
                        data-y="['center','center','center','center']"
                        data-lineheight="['50','50','50','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-startslide="0"
                        data-endslide="3"
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                >
                    International Conference <br>on Technological Innovation <br>
                    & AI Research
                </div>


                <div
                        class="text-center tp-caption size-20 text-white tp-static-layer"
                        data-x="['center','center','center','center']"
                        data-hoffset="['0']"
                        data-y="['top','top','top','top']"
                        data-voffset="['430']"
                        data-lineheight="['90','90','90','90']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-startslide="0"
                        data-endslide="3"
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                >

                    <div class="spacer-single"></div>
                    <div class="d-lg-flex justify-content-center sm-hide">
                        <div class="h6 padding10 pt0 pb0"><i class="i_h3 fa fa-calendar-check-o id-color"></i><span
                                class="text-white">March 19th to 21th 2025</span></div>
                        {#                                        <div class="h6 padding10 pt0 pb0"><i class="i_h3 fa fa-user id-color"></i><span class="text-white">12 Speakers</span></div>#}
                        {#                                        <div class="h6 padding10 pt0 pb0"><i class="i_h3 fa fa-map-marker id-color"></i><span class="text-white">Palo Alto, California</span></div>#}
                    </div>
                </div>


                {#                <div#}
                {#                        class="tp-caption tp-static-layer"#}
                {#                        data-x="['center','center','center','center']"#}
                {#                        data-hoffset="['0']"#}
                {#                        data-y="['top','top','top','top']"#}
                {#                        data-voffset="['506']"#}
                {#                        data-width="none"#}
                {#                        data-height="none"#}
                {#                        data-whitespace="nowrap"#}
                {#                        data-type="button"#}
                {##}
                {#                        data-responsive_offset="on"#}
                {#                        data-responsive="off"#}
                {#                        data-startslide="0"#}
                {#                        data-endslide="3"#}
                {#                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0.15);bw:2px 2px 2px 2px;"}]'#}
                {#                        data-textAlign="['center','center','center','center']"#}
                {#                        data-paddingtop="[12,12,12,12]"#}
                {#                        data-paddingright="[20,20,20,20]"#}
                {#                        data-paddingbottom="[12,12,12,12]"#}
                {#                        data-paddingleft="[20,20,20,20]"#}
                {#                >#}
                {#                    <a href="#section-ticket" class="btn-custom text-white scroll-to">Get Ticket</a>#}
                {#                </div>#}

                <div
                        class="tp-caption tp-static-layer"
                        data-x="['center','center','center','center']"
                        data-hoffset="['0']"
                        data-y="['top','top','top','top']"
                        data-voffset="['506']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="button"

                        data-responsive_offset="on"
                        data-responsive="off"
                        data-startslide="0"
                        data-endslide="3"
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0.15);bw:2px 2px 2px 2px;"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[12,12,12,12]"
                        data-paddingright="[20,20,20,20]"
                        data-paddingbottom="[12,12,12,12]"
                        data-paddingleft="[20,20,20,20]"
                >
                </div>
            </div>
        </div>
    </section>
    <!-- revolution slider close -->



    <section id="section-countdown" aria-label="section" class="gradient-to-right pt40 pb40">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="spacer-single"></div>
                    <div id="defaultCountdown"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- section begin -->
    <section id="section-about" data-bgimage="url(static/exhibiz/images/bg/1.png) fixed no-repeat">
        <div class="wm wm-border dark wow fadeInDown">welcome</div>
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0s">
                    <h2>Welcome to the International Conference on Technological Innovation and AI Research 2025</h2>
                    <p>
                        Connect with leading researchers and professionals at the International Conference on
                        Technological Innovation and AI Research (ICTIAR2025). From March 19 to 21, 2025, engage in
                        dynamic discussions on the latest advancements in AI, machine learning, and emerging
                        technologies. This virtual conference offers a collaborative space for presenting groundbreaking
                        research, exchanging insights, and shaping the future of innovation. Be part of the global
                        conversation driving scientific progress.
                    </p>

                    <div class="spacer10"></div>

                    <a href="#" class="btn-custom font-weight-bold text-white sm-mb-30">About Us</a>
                </div>

                <div class="col-lg-6 mb-sm-30 text-center wow fadeInRight">
                    <div class="de-images">
                        <img class="di-small wow fadeIn" src="/static/exhibiz/images/misc/2.jpg" alt="">
                        <img class="di-small-2 wow fadeIn" src="/static/exhibiz/images/misc/3.jpg" alt="">
                        <img class="di-big img-fluid wow fadeInRight" data-wow-delay=".25s"
                             src="/static/exhibiz/images/misc/1.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section id="section-sponsors">
        <div class="wm wm-border dark wow fadeInDown ">sponsors</div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                    <h1>Official Sponsors</h1>
                    <div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>
                </div>

                <div class="col-md-12 text-center wow fadeInUp">
                    <h3>Published by</h3>
                    <div class="spacer-single"></div>
                    <img src="/static/images/P-IET-1.png" alt="" style="width:500px" class="grey-hover">
                    <div class="spacer-double"></div>

                    <h3>Indexed by</h3>
                    <div class="spacer-single"></div>
                    <div class="row align-items-center">
                        <div class="col-lg-3"><img src="/static/images/sponsor/Scopus.jpeg" alt="" class="grey-hover">
                        </div>
                        <div class="col-lg-3"><img src="/static/images/sponsor/SJR.jpeg" alt="" style="" class="grey-hover"></div>
                        <div class="col-lg-3"><img src="/static/images/sponsor/Compendex.png" alt="" style="" class="grey-hover"></div>
                        <div class="col-lg-3"><img src="/static/images/sponsor/Logoweb.png" alt="" style="" class="grey-hover"></div>
                        <div class="col-lg-3"><img src="/static/images/sponsor/unemilog.jpeg" alt="" style="" class="grey-hover"></div>
                        <div class="col-lg-3"><img src="/static/images/sponsor/uclm.jpeg" alt="" style="" class="grey-hover"></div>
                        <div class="col-lg-3"><img src="/static/images/sponsor/unemi.jpeg" alt="" style="" class="grey-hover"></div>
                        <div class="col-lg-3"><img src="/static/images/sponsor/viu.jpeg" alt="" style="" class="grey-hover"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- section begin -->
    <section id="section-features">
        <div class="wm wm-border dark wow fadeInDown ">features</div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                    <h1>Why you should Join Event</h1>
                    <div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>
                </div>


                <div class="col-lg-4 wow fadeIn" data-wow-delay="0s">
                    <div class="box-number square">
                        <i class="bg-color hover-color-2 fa fa fa-mortar-board text-light"></i>
                        <div class="text">
                            <h3><span>Cutting-Edge Research</span></h3>
                            <p>Delve into the latest advancements in Artificial Intelligence, Machine Learning, Big
                                Data, and more. Present and discuss innovative solutions shaping the future of
                                technology.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 wow fadeIn" data-wow-delay=".25s">
                    <div class="box-number square">
                        <i class="bg-color hover-color-2 fa fa-sitemap text-light"></i>
                        <div class="text">
                            <h3><span>Global Networking</span></h3>
                            <p>Meet and collaborate with global thought leaders, top researchers, and industry
                                professionals. Forge valuable connections that could lead to future partnerships and
                                joint projects.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 wow fadeIn" data-wow-delay=".5s">
                    <div class="box-number square">
                        <i class="bg-color hover-color-2 fa fa-microphone text-light"></i>
                        <div class="text">
                            <h3><span>Renowned Speakers</span></h3>
                            <p>Gain insights from internationally recognized experts in AI and technology, including
                                keynote addresses from leading voices in research, academia, and industry.</p>
                        </div>
                    </div>
                </div>

                <div class="spacer-single sm-hide"></div>

                <div class="col-lg-4 wow fadeIn" data-wow-delay=".75s">
                    <div class="box-number square">
                        <i class="bg-color hover-color-2 fa fa-certificate text-light"></i>
                        <div class="text">
                            <h3><span>Learn from Industry Experts</span></h3>
                            <p>Get exclusive access to keynotes and sessions led by world-renowned experts in artificial
                                intelligence and technology. Learn directly from those pushing the boundaries of
                                innovation.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 wow fadeIn" data-wow-delay="1s">
                    <div class="box-number square">
                        <i class="bg-color hover-color-2  fa fa-book text-light"></i>
                        <div class="text">
                            <h3><span>Publish in Prestigious Journals</span></h3>
                            <p>Submit your research for a chance to be published in SCOPUS and COMPENDEX indexed
                                journals, gaining international recognition and elevating your academic profile.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 wow fadeIn" data-wow-delay="1.25s">
                    <div class="box-number square">
                        <i class="bg-color hover-color-2 fa fa-globe text-light"></i>
                        <div class="text">
                            <h3><span>Join from Anywhere</span></h3>
                            <p>With our fully virtual event, you can participate from any location, making it easier
                                than ever to attend sessions, engage in discussions, and present your work.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- section close -->

    <!-- section begin -->
    <section id="section-speakers" class="jarallax text-light">
        <img src="/static/exhibiz/images/bg/1.jpg" class="jarallax-img" alt="">
        <div class="wm wm-border dark wow fadeInDown">Committee</div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                    <h1>Organizing Committee</h1>
                    <div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-sm-6 mb30 wow fadeInUp">
                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="/static/images/men.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="team-desc">
                            <h3>Fausto Pedro García Márquez </h3>
                            <p class="lead">Teacher</p>
                            <div class="small-border"></div>
                            <p></p>

                            <div class="social">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- team close -->
                </div>

                <div class="col-lg-3 col-sm-6 mb30 wow fadeInUp">
                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="/static/images/women.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="team-desc">
                            <h3>Mónica Karel Huerta</h3>
                            <p class="lead">Teacher</p>
                            <div class="small-border"></div>
                            <p></p>

                            <div class="social">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- team close -->
                </div>

                <div class="col-lg-3 col-sm-6 mb30 wow fadeInUp">
                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="/static/images/men.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="team-desc">
                            <h3>René Vinicio Sánchez Loja</h3>
                            <p class="lead">Teacher</p>
                            <div class="small-border"></div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat.</p>

                            <div class="social">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- team close -->
                </div>

                <div class="col-lg-3 col-sm-6 mb30 wow fadeInUp">
                    <!-- team member -->
                    <div class="de-team-list">
                        <div class="team-pic">
                            <img src="/static/images/women.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="team-desc">
                            <h3>Mariela Cerrada Lozada</h3>
                            <p class="lead">Teacher</p>
                            <div class="small-border"></div>
                            <p>Universidad Internacional de Valencia, Spain</p>

                            <div class="social">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- team close -->
                </div>

                <div class="d-flex justify-content-center">
                    <div class="col-lg-3 col-sm-6 mb30 wow fadeInUp">
                        <!-- team member -->
                        <div class="de-team-list">
                            <div class="team-pic">
                                <img src="/static/images/men.jpeg" class="img-responsive" alt="">
                            </div>
                            <div class="team-desc">
                                <h3>Roger Clotet </h3>
                                <p class="lead">Teacher</p>
                                <div class="small-border"></div>
                                <p></p>

                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- team close -->
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </section>
    <!-- section close -->


    <!-- section begin -->
    <section id="section-schedule" aria-label="section-services-tab"
             data-bgimage="url(static/exhibiz/images/bg/2.png) fixed center no-repeat">
        <div class="wm wm-border dark wow fadeInDown ">schedule</div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                    <h1>Important Deadlines for Paper Submission</h1>
                    <div class="separator"><span><i class="fa fa-square"></i></span></div>
                    <div class="spacer-single"></div>
                </div>

                <div class="col-md-12 wow fadeInUp">
                    <div class="de_tab tab_style_4 text-center">
                        <ul class="de_nav de_nav_dark">
                            <li class="active" data-link="#tab1">
                                <h3>Paper Submission <span>Deadline</span></h3>
                                <h4>Dec 1, 2024</h4>
                            </li>
                            <li data-link="#tab1">
                                <h3>Notification of <span>Acceptance</span></h3>
                                <h4>Jan 27, 2025</h4>
                            </li>
                            <li data-link="#tab1">
                                <h3>Final Version <span>Submission</span></h3>
                                <h4>Feb 27, 2025</h4>
                            </li>
                        </ul>

                    </div>


                    <div class="de_tab_content text-left">
                        <div id="tab1" class="tab_single_content dark">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="schedule-listing">
                                        <div class="sc-info">
                                            <h3>Submission Guidelines</h3>
                                            <p>
                                            <ul>
                                                <li>Language: Only manuscripts in English will be accepted.</li>
                                                <li>Length: Submissions should be between 10 to 18 pages, following
                                                    the
                                                    publisher’s format.
                                                </li>
                                                <li>Criteria: Papers will be evaluated based on originality,
                                                    relevance,
                                                    and technical soundness.
                                                </li>
                                                <li> Content: Manuscripts must clearly identify objectives,
                                                    scientific
                                                    questions, or hypotheses, supported by a theoretical base,
                                                    research
                                                    methodology, and discussion of results.
                                                </li>
                                            </ul>
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="schedule-listing">
                                    <div class="schedule-item">
                                        <div class="sc-info">
                                            <h3>Review Process</h3>
                                            <p>
                                            <ul>
                                                <li>Each paper will undergo a double-blind review by at least two
                                                    independent reviewers.
                                                </li>
                                                <li>Max 3 papers per reviewer.</li>
                                                <li>Submissions will be checked for plagiarism using tools like
                                                    CrossCheck.
                                                </li>
                                            </ul>
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="schedule-listing">
                                    <div class="schedule-item">
                                        <div class="sc-info">
                                            <h3>Review Criteria</h3>
                                            <p>
                                            <ol>
                                                <li>Empirical base and practical applicability
                                                </li>
                                                <li>Clear identification of objectives and hypotheses.</li>
                                                <li>Theoretical foundation and robustness</li>
                                                <li>Research methodology</li>
                                                <li>Results presentation and discussion</li>
                                                <li>Scientific or practical novelty</li>
                                                <li>Relevance to the conference topics</li>
                                                <li>Papers must have less than 20% similarity with other works to be
                                                    accepted.
                                                </li>
                                            </ol>
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-fun-facts" class="jarallax text-light">
        <img src="/static/exhibiz/images/bg/3.jpg" class="jarallax-img" alt="">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="de_count">
                        <i class="icon_id-2 id-color-2"></i>
                        <h3>8800</h3>
                        <span class="text-white">Participants</span>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="de_count">
                        <i class="icon_easel id-color-2"></i>
                        <h3>300</h3>
                        <span class="text-white">Topics</span>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="de_count">
                        <i class="icon_headphones id-color-2"></i>
                        <h3>50</h3>
                        <span class="text-white">Speakers</span>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="de_count">
                        <i class="icon_globe id-color-2"></i>
                        <h3>20</h3>
                        <span class="text-white">Awards</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block jscript %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0&appId=5465147420185697&autoLogAppEvents=1"
            nonce="GutKLHL1"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('#defaultCountdown').countdown({until: new Date(2025, 2, 19, 8)}); // year, month, date, hour
            });

        })
    </script>
{% endblock %}



