{% extends 'public/base.html' %}

{% block head %}
    <style>
        @media only screen and (max-width: 600px) {
            .center-mobile {
                text-align: center;
            }
        }

    </style>
{% endblock %}

{% block content %}

    <section>
        <div class="jarallax min-vh-100 py-5">
            <div class="jarallax-img" style="background-image: url('/media/{{ confi.fondoprincipal }}');"></div>
            <div class="container position-relative zindex-5 py-sm-4 py-lg-5 mt-4">
                <div class="row pt-lg-2 py-xl-4 py-xxl-5 mb-md-4 mb-lg-5">
                    <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 pt-5 mb-5 center-mobile">
                        <h1 class="display-2 text-uppercase pb-sm-2 pb-md-3" style="color:#273159!important;">Portal de
                            Consultas</h1>
                        <p class="pb-3 pb-md-4 mb-3"
                           style="color:#273159!important;max-width: 520px;">{{ confi.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block jscript %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v16.0&appId=5465147420185697&autoLogAppEvents=1"
            nonce="GutKLHL1"></script>
{% endblock %}



