{% extends 'public/base.html' %}
{% block link %}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/views.css">
{% endblock %}
{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center position-relative  mt-100">
    <div class="d-flex flex-column align-items-center w-lg-100 px-3 px-lg-5 pt-2">
        <div class="w-100 mt-125" style="max-width: 526px;">
            <h1 class="mb-5">Login</h1>
            <form method="post" id="frm-logear">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
                <div class="pb-3 mb-3">
                    <div class="position-relative">
                        <i class="fa fa-user fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                        <input class="form-control form-control-lg ps-5" type="text"
                               placeholder="Username"
                               name="usuario" id="id_usuario"
                               required>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-group m-b-15">
                        <input class="form-control form-control-lg" type="password"
                               placeholder="********"
                               name="password" required>
                    </div>
                    <br>
                    <span class="text-muted mt-6"><i class="fa fa-info-circle"></i> Note: If you're having trouble logging in, try these options</span>
                </div>
                <div class="d-flex flex-wrap align-items-center justify-content-between pb-4">
                    <a class="fs-sm fw-semibold text-decoration-none my-1 btn-link" href="/restoreusername/">¿Forgot your username?</a>
                    <a class="fs-sm fw-semibold text-decoration-none my-1 btn-link" href="/restorepass/">¿Forgot your password?</a>
                </div>
                <button class="btn btn-lg btn-primary w-100 mb-4" type="submit">Log in to my account</button>
            </form>
        </div>
    </div>
</div>
    <div class="mb-100"></div>

{% endblock %}
{% block jscript %}
    <script src="/static/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#frm-logear').on({
                submit: function (e) {
                    e.preventDefault();
                    var frmData = new FormData($(this)[0]);
                    $.ajax({
                        url: '{% url 'login_url' %}',
                        data: frmData,
                        method: 'POST',
                        dataType: 'json',
                        cache: false,
                        enctype: $(this).attr('enctype'),
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            pantallaespera()
                        }
                    }).done(function (data) {
                        setTimeout($.unblockUI, 1);
                        if (data.resp === true) {
                            if (data.redirect) {
                                location = data.redirect;
                            } else {
                                location = "/";
                            }
                            return false;
                        } else {
                            mensajeDanger(data.error);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status === 403) {
                           console.log('Acceso denegado');
                        }
                        mensajeDanger('Error de conexión.');
                    });
                }
            });
        })
    </script>
{% endblock %}