{% extends 'public/base.html' %}
{% block link %}{% endblock %}
{% block head %}
    <style>#slider-revolution .tp-bullets, /* Ocultar los botones de navegación */
    #slider-revolution .tp-leftarrow, /* Ocultar la flecha izquierda */
    #slider-revolution .tp-rightarrow { /* Ocultar la flecha derecha */
        display: none !important;
    }

    .tp-fullwidth-forcer {
        height: 300px !important;
    }

    .mb-100 {
        margin-bottom: 500px;
    }

    .btn-primary {
        color: #fff;
    }

    body {
        background-color: #000000;
    }

    .mt-100 {
        margin-top: 100px;
    }

    .mt-125 {
        margin-top: 125px;
    }

    </style>
{% endblock %}
{% block content %}

    <div class="d-flex flex-column justify-content-center align-items-center position-relative  mt-100">
        <div class="d-flex flex-column align-items-center w-lg-100 px-3 px-lg-5 pt-2">
            <div class="w-100 mt-125" style="max-width: 526px">
                <h1 class="pt-3 pb-2 pb-lg-3">¿Forgot your username?</h1>
                <p class="pb-2">Enter your email address to retrieve your username.</p>
                <div class="card border-black">
                    <form method="post" class="card-body" id="frm-restaurar"
                          style="padding: 22px 25px !important;">{% csrf_token %}
                        <div class="mb-4">
                            <div class="position-relative"><i
                                    class="ai-key fs-lg position-absolute top-50 start-0 translate-middle-y text-black opacity-80 ms-3"></i>
                                <input class="form-control form-control-lg ps-5 input-record" type="email"
                                       style="background-color: #ffffff;   color: black;"
                                       placeholder="Email address" name="email" id="recoverEmail" required>
                            </div>
                        </div>
                        <center>
                            <button type="submit" class="btn btn-success transition-3d-hover">
                                <i class="fa fa-sync"></i>&nbsp; Recover Username
                            </button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-100"></div>

{% endblock %}
{% block jscript %}
    <script>
        $('#frm-restaurar').on({
            submit: function (e) {
                e.preventDefault();
                var frmData = new FormData($(this)[0]);
                $.ajax({
                    url: '{{ request.path }}',
                    data: frmData,
                    method: 'POST',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        pantallaespera()
                    }
                }).done(function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.resp === true) {
                        location = "/login/";
                        return false;
                    } else {
                        mensajeDanger(data.error);
                    }
                }).fail(function () {
                    setTimeout($.unblockUI, 1);
                    mensajeDanger('Connection error.')
                });
            }
        });
    </script>
{% endblock %}