<header class="transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- logo begin -->
                <div id="logo">
                    <a href="/">
                        <img class="logo" src="/static/images/ictiair_logo.png" alt="" style="width:160px;height: 90px">
                    </a>
                </div>
                <!-- logo close -->

                <!-- small button begin -->
                <span id="menu-btn"></span>
                <!-- small button close -->

                <ul id="mainmenu" class="ms-2">
                    <li><a href="#section-home" >Login<span></span></a></li>
                    <li><a href="#section-about">Register<span></span></a></li>

                </ul>
                <!-- mainmenu begin -->
                <ul id="mainmenu" class="ms-2">
                    <li><a href="#section-home">Home<span></span></a></li>
                    <li><a href="#section-sponsors">Sponsors<span></span></a></li>
                    <li><a href="#section-speakers">Committee<span></span></a></li>
                    <li><a href="#section-schedule">Schedule<span></span></a></li>

                </ul>



            </div>


        </div>
    </div>
</header>