<header class="transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- logo begin -->
                <div id="logo">
                    <a href="/">
                        <img class="logo" src="/static/images/ictiair_logo.png" alt="" style="width:160px;height: 90px">
                    </a>
                </div>
                <!-- logo close -->

                <!-- small button begin -->
                <span id="menu-btn"></span>
                <!-- small button close -->
                <!-- mainmenu begin -->
                <ul id="mainmenu" class="ms-2">
                    <li><a href="/#section-hero">Home<span></span></a></li>
                    <li><a href="/#section-hero">Sponsors<span></span></a></li>
                    <li><a href="/#section-importante">For authors<span></span></a>
                        <ul>
                            <li><a href="/#importantdates">Important Dates</a></li>
{#                            <li><a href="#">Camera-Ready</a></li>#}
                            <li><a href="/#guidelines">Guidelines</a></li>
                            <li><a href="/#callforpapers">Call for Papers</a></li>
                            <li><a href="/#callforpapers">Templates</a></li>
                        </ul>
                    </li>
                    <li><a href="/#section-topics">Topics<span></span></a></li>
                    <li><a href="/#section-speakers">Committies<span></span></a>
                        <ul>
                            <li><a href="/#speakers">Speakers</a></li>
                            <li><a href="/#org_comite">Organizing Committee</a></li>
                            <li><a href="/#gen_chairs">General Chairs</a></li>
                        </ul>
                    </li>
                    <li><a href="/#section-contacts">Contact US<span></span></a></li>
                    <li><a href="/login/">Login<span></span></a></li>
{#                    <li><a href="/register/">Register<span></span></a></li>#}
                </ul>
            </div>
        </div>
    </div>
</header>