<link rel="stylesheet" href="/static/pagination_public.css" type="text/css">
<div class="pagination-container">
    <div class="pagination-wrapper">
        <nav>
            {% if paging.num_pages > 5 %}
                <ul class="pagination">
                    {% if paging.primera_pagina %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{{ url_vars }}">1</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ paging.ellipsis_izquierda }}{{ url_vars }}"
                               class="page-link active">...</a>
                        </li>
                    {% endif %}

                    {% for pagenumber in paging.paginas %}
                        <li class="page-item {% if pagenumber == page.number %}active{% endif %}">
                            <a href="?page={{ pagenumber }}{{ url_vars }}"
                               class="page-link">{{ pagenumber }}</a>
                        </li>
                    {% endfor %}

                    {% if paging.ultima_pagina %}
                        <li class="page-item">
                            <a href="?page={{ paging.ellipsis_derecha }}{{ url_vars }}"
                               class="page-link active">...</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ paging.num_pages }}{{ url_vars }}"
                               class="page-link">{{ paging.num_pages }}</a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="pagination">
                    {% for pagenumber in paging.page_range %}
                        <li class="page-item {% if pagenumber == page.number %}active{% endif %}">
                            <a class="page-link"
                               href="?page={{ pagenumber }}{{ url_vars }}">{{ pagenumber }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>
    </div>
</div>