{% extends 'email/base_ictiair.html' %}
{% block content %}
    <div style="font-size:12px;padding: 5px; line-height:14px; color:#555555; font-family:Arial,'Helvetica Neue',Helvetica,sans-serif; text-align:left">
        <p>Dear Colleague,</p>
        <p>We are proud to announce the International Conference on Technological Innovation and AI Research
            (ICTIAIR2025), which will be held virtually from March 19-21, 2025.
        </p>
        <p>ICTIAIR2025 aims to create an international forum for academics, researchers, and professionals worldwide to
            discuss the most recent innovations, trends, and practical challenges in the fields of Technological
            Innovation and Artificial Intelligence.</p>
        <p>Key Conference Themes:</p>
        <ol>
            <li>Artificial Intelligence and Machine Learning</li>
            <li>Big Data and Cloud Computing</li>
            <li>Internet of Things and Blockchain</li>
            <li>Technology and Engineering Management</li>
            <li>Technology for Education</li>
            <li>Energy, Sustainability, and Environment</li>
        </ol>
        <p>Key Conference Themes:</p>
        <ul>
            <li>Paper Submission Deadline: December 1, 2024</li>
            <li>Notification of Acceptance: January 27, 2025</li>
            <li>Camera-Ready Submission: February 16, 2025</li>
            <li>Conference Dates: March 19-21, 2025</li>
        </ul>
        <p>All accepted papers will be published in the conference proceedings by The Institution of Engineering and
            Technology (IET). These proceedings will be indexed in prestigious databases including Scopus and Ei
            Compendex, ensuring wide visibility and recognition for all published research.
        </p>
        <p>ICTIAIR2025 is organized by the University of Castilla-La Mancha, Universidad Estatal de Milagro, and
            Universidad Internacional de Valencia in collaboration with the recognized research center ESenCIA Center
            for Data Science and Artificial Intelligence Studies.
        </p>
        <p>We believe your participation will significantly contribute to the success of ICTIAIR2025. For more
            information about the conference, submission guidelines, and registration details, please visit our website:
            <a href="https://ictiair.tiacon.org/" target="_blank">https://ictiair.tiacon.org/</a></p>
        <p>We look forward to your valuable contribution and participation in this exciting event.</p>
        <p>Best regards,</p>
        <p>ICTIAIR2025 Organizing Committee</p>
    </div>
{% endblock %}
