{% extends 'email/base_ictiair.html' %}

{% block content %}
    <div style="font-size:12px; line-height:14px; color:#555555; font-family:Arial,'Helvetica Neue',Helvetica,sans-serif; text-align:left">
        <p style="margin:0; font-size:14px; line-height:17px">
            Username: <b>{{ usuario.username }}</b>
        </p>
        <p style="margin:0; font-size:14px; line-height:17px">
            Date: {{ fecha }}
        </p>
        <p style="margin:0; font-size:14px; line-height:17px">
            <br>
        </p>
    </div>
{% endblock %}